<ion-header>
  <ion-toolbar>
    <div class = "header">
      <h2>Run Tracking</h2>
    </div>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div #map id="map"></div>
  <ion-grid>
    <ion-row>
      <ion-col size = 12>
        <ion-button expand = 'block' color = 'success' ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
          <ion-icon name="locate"></ion-icon>
          Start Tracking
        </ion-button>
        <ion-button expand = 'block' color = 'danger' ion-button full color="danger" icon-left (click)="stopTracking()" *ngIf="isTracking">
          <ion-icon name="hand"></ion-icon>
          Stop Tracking
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 
  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{ route.finished | date }}, {{ route.path.length }} Waypoints
      <ion-button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
