<ion-header>
  <ion-toolbar>
    <ion-title>crud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input type = "text" placeholder = "ID" [(ngModel)] = "id"> </ion-input>
  </ion-item>


  <ion-item>
    <ion-input type = "text" placeholder = "Name" [(ngModel)] = "name"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type = "text" placeholder = "duration" [(ngModel)] = "duration"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type = "text" placeholder = "date" [(ngModel)] = "date"> </ion-input>
  </ion-item>

  

</ion-content>
