.header{
    display: flex;
    background-color: #601477;
    box-shadow: 0px 1px 10px rgba(98,140,255,0.5);
    align-items: center;

    ion-menu-button{
        color: #fff;
    }

    h2{
        color: white;
        margin-left: 10px;
        color: #fff;
    }
}


video{
    align-items: center;
    width: 450px;
    height: 650px;
}